@import 'vars'

// GENERAL
body
    font-family Arial,Helvetica,sans-serif
    background-color lighten(secondary, diff*5)
    margin 0
    height 100vh
    display flex
    align-items center
    justify-content space-around

// FORM
form
    // basic styling
    display flex
    flex-direction column
    min-width 300px
    max-width 700px
    margin (gutter * 3)
    background-color white
    padding (gutter * 2)
    border-radius (round * 2)
    border-right bw solid secondary
    border-bottom bw solid secondary

    // layout
    .form-grid
        display grid
        grid-template-columns 1fr 1fr
        grid-column-gap (gutter * 2)
        label
            grid-row 2
        .descr
            grid-row 3
    // spacing between input elements
    &>div
        margin-bottom 1rem
        &:last-child
            margin-bottom 0
    // submit buton group
    .form-btn
        margin-left auto

    // text inputs
    input[type="text"]
        border none
        // border 1px solid rgba(primary, 0.1)
        border-bottom bw solid primary
        box-sizing border-box
        width 100%
        padding gutter
    // descriptions
    .descr
        font-size .8rem

// BUTTONS
.btn
    padding gutter
    margin-left gutter
    border none
    border-radius round
    cursor pointer
    // submit button
    &-submit
        font-weight bold
        background-color primary
        color white
        &:active
            background-color darken(primary, diff)
    // reset/cancel button
    &-reset
        background-color secondary
        &:active
            background-color darken(secondary, diff)
