/*** VARIABLES, ETC ***/
// fonts
font = 'Avenir', Helvetica, Arial, sans-serif
f-color = #2a2a3b
//  colours
primary = #d44500
secondary = #dee5ee
//  colour settings
diff = 15%  // amount to darken colours on active
// gutters etc
round = 3px     // rounded corners
bw = 2px        // border widths
gutter = .5rem  // gutter/spacing
// transition settings
time = .2s
func = ease-in